<h1 class="text-center mt-3">Conocimientos</h1>
<img [src]="url" >
<div class="row">
    <div class="col mt-3">
        <h2>Formulario</h2>
        <input type="text" placeholder="Introduce conocmiento" class="form-control mb-3" [(ngModel)]="nombreConocimiento" >
        <select class="form-select mb-3" [(ngModel)]="nivelConocimiento" >
            <option value="1">Bajo</option>
            <option value="2">Medio</option>
            <option value="3">Alto</option>
        </select>
        <button class="btn btn-primary" (click)="guardarElemento()">Guardar</button>
    </div>
    <div class="col mt-3">
        <h2>Listado de conocimientos</h2>

        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col" *ngFor="let item of conocimientos">
                <div class="card h-100">
                    <img [src]="item.imagen" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{item.nombre}}</h5>
                        <p class="card-text">{{item.nivel}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
