<h1 class="mt-4">Lista de peliculas</h1>
<ul class="list-group">
  <li class="list-group-item" *ngFor="let item of movies">
    ID: {{ item.id }}, Titulo: {{ item.title }}
  </li>
</ul>

<div class="mb-5">
  <div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col" *ngFor="let movie of movies">
      <div class="card">
        <img src="{{ movie.posterURL }}" class="card-img-top" />
        <div class="card-body">
          <h5 class="card-title">ID: {{ movie.id }}</h5>
          <p class="card-text">
            {{ movie.title }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
