
<div class="container">
    <h1>Productos desde la api</h1>
    <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col" *ngFor="let product of products">
    <div class="card">
      <ng-container >
          <img [src]="product.images[0]" class="card-img-top mb-2" alt="Imagen del producto" width="200px">
        </ng-container>
      <div class="card-body">
        <h5 class="card-title">{{product.title}}</h5>
        <p class="card-text">{{product.description}}</p>
      </div>
    </div>
  </div>
    </div>
</div>
