<div class="container">
  <h1>App angular</h1>
  <p>Esta es la primera app angular realizada por {{autor}} para la asigantura {{asignatura}}</p>
  <!-- tener otro componente que renderice una lista de conocimientos de la asignatura -->

  <h2>Lista de tareas</h2>
  <div class="input-group mb-4">
    <input [(ngModel)]="nuevaTarea" type="text" class="form-control" placeholder="Escribe una tarea">
    <button (click)="agregarTareas()" class="btn btn-primary">Agregar</button>
  </div>
  <ul class="list-group">
    <li *ngFor="let tarea of tareas; let i = index" class="list-group-item d-flex justify-content-between align-items-center">
      {{tarea}}
      <button (click)="eliminarTarea(i)" class="btn btn-danger btn-sm">Eliminar</button>
    </li>
  
  </ul>

  <app-listado></app-listado>
</div>