<div class="container mt-5">
  <h1>Filtrar productos</h1>

  <div class="mt-3">
    <select
      class="form-select mb-3"
      [(ngModel)]="categoriaSelectFija"
      (ngModelChange)="getCategories()"
    >
      <!-- para que sea dinamico  -->
      <option selected>Seleccione una opcion</option>
      <option value="beauty">beauty</option>
      <option value="fragrances">fragrances</option>
      <option value="furniture">furniture</option>
      <option value="groceries">groceries</option>
    </select>
    <button class="btn btn-outline-success mb-3" (click)="getCategories()">
      Filtrar
    </button>
  </div>

  <h1 class="mt-5">Seleccion con el api Categories</h1>
  <div class="mt-3">
    <select
      class="form-select mb-3"
      [(ngModel)]="categoriaSelectDinamica"
      (ngModelChange)="getCategoriesDinamico()"
    >
      <!-- para que sea dinamico -->
      <option value="" disabled selected>Seleccione una opcion</option>
      <option *ngFor="let category of categories" [value]="category.slug">
        {{ category.name }}
      </option>
    </select>
  </div>

  <div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col" *ngFor="let product of productos">
      <div class="card">
        <img [src]="product.images[0]" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">{{ product.title }}</h5>
          <p class="card-text">{{ product.description }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
